<div class="container">


    <form asp-action="Add" asp-controller="Personel">
        <div class="mb-3">
            <label for="personel_name" class="form-label">Personel Name</label>
            <input type="text" class="form-control" name="personel_name">

        </div>
        <div class="mb-3">
            <label for="personel_surname" class="form-label">Personel Surname</label>
            <input type="text" class="form-control" name="personel_surname">
        </div>
        <button type="submit" class="btn btn-primary">ADD PERSONEL</button>
    </form>




</div>
